@import "tailwindcss";
html, body, #root {
  width: 100%;
  overflow-x: hidden;
}

/* Hide scrollbar but allow scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}
.sidebar-scroll::-webkit-scrollbar {
  width: 0px;
}
.sidebar-scroll {
  scrollbar-width: none;
}

